{% load static %}
<!-- ##### Top News Area Start ##### -->
<div class="top-news-area section-padding-100">
    <div class="container">
        <div class="row">
        {% for topnews in top_news_list %}
            <!-- Single News Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-blog-post style-2 mb-5">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="{{ news.get_absolute_url }}"><img src="{% static news.cover_image.url %}" alt=""></a>
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">{{ topnews.created_at }}</span>
                        <a href="{{ news.get_absolute_url }}" class="post-title">{{ topnews.title }}</a>
                        <a href="{{ news.get_absolute_url }}" class="post-author">{{ topnews.author }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}

            <div class="col-12">
                <div class="load-more-button text-center">
                    <a href="#" class="btn newsbox-btn">Load More</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ##### Top News Area End ##### -->